<!DOCTYPE html>
<html>
<head>
    <title>{{animal.name}} - Details</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>{{animal.name}}</h1>
    <p><strong>Species:</strong> {{animal.breed}}</p>
    <p><strong>Age:</strong> {{animal.age}}</p>
    <p><strong>Description:</strong> {{animal.description}}</p>
    <a href="/animals">Back to Animals List</a>
    <div>
        {{>footer}}
    </div>
</body>
</html>